# macOS
**/.DS_Store
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# OS
Thumbs.db

*.tsbuildinfo
